

/* Left arrow position */
.react-multiple-carousel__arrow--left {
    
    left: 0 !important;
  }
  
  /* Right arrow position */
  .react-multiple-carousel__arrow--right {
    right: 0 !important;
  }
  
  /* Arrow icon color: black */
  .react-multi-carousel-arrow::after{
    color:white!important; /* black */
    font-size: 20px;
  }
  /* Override dot colors */
.react-multi-carousel-dot button {
    background: #cbd5e0; /* Light gray (default dot color) */
    border: none;
    width: 20px;
    height: 20px;
  }
  
  .react-multi-carousel-dot--active button {
    background: #00A6A6 !important; /* Tailwind's gray-700 */
  }

  